{{ template "header.tmpl" .}}

<div class="row">
{{range .works}}
  <div class="col-lg-4">
    <div class="bs4-component">
    <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header text-success"><b>ID: </b># {{.ID}}</div>
        <div class="card-body">
          <h4 class="card-title text-success">{{.Name}}</h4>
          <p class="text-muted">{{.URL}}</p>
          <p class="card-text">
          </p>
          <a role="button" class="btn btn-outline-danger float-left" href="/delete/{{.ID}}">
          Delete
          </a>
          <a role="button" class="btn btn-outline-success float-right" href="/view/{{.ID}}">
          View
          </a>
        </div>
      </div>
    </div>
  </div>  
  {{end}}
</div>

<a role="button" class="btn btn-outline-success float-right" href="/new">
    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
  </svg>
 New Work
</a>


{{ template "footer.tmpl" .}}