
{{define "SubdomainScan"}}
{{$name := "SubdomainScan"}}

<div class="col-md-8 float-right">
  <div class="bs4-component">
    <div class="card border-success mb-3">
      <div class="card-header text-success">
        <legend class="float-left">{{$name}}
          <a class="btn btn-sm btn-success float-right" id="run{{$name}}">
            RUN
          </a>
        </legend>
        <p class="text-muted">sublist3r [WORKING], subfinder [NOT IMPLEMENTED]
         
          
          <!-- Toogle icon -->
          <a class="float-right" data-toggle="collapse" href="#collapse{{$name}}" role="button" aria-expanded="false"
            aria-controls="collapse{{$name}}">
            <svg class="bi bi-aspect-ratio text-secondary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M0 3.5A1.5 1.5 0 011.5 2h13A1.5 1.5 0 0116 3.5v9a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 010 12.5v-9zM1.5 3a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5h-13z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M2 4.5a.5.5 0 01.5-.5h3a.5.5 0 010 1H3v2.5a.5.5 0 01-1 0v-3zm12 7a.5.5 0 01-.5.5h-3a.5.5 0 010-1H13V8.5a.5.5 0 011 0v3z"
                clip-rule="evenodd" />
            </svg>
          </a>
           <!-- Terminal icon -->
           <a class="float-right text-success" href="/terminal/{{.program.Name}}/{{$name}}" target="_blank" role="button" style="margin-right: 20px;">
            <svg class="bi bi-terminal-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 3a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm9.5 5.5h-3a.5.5 0 000 1h3a.5.5 0 000-1zm-6.354-.354L4.793 6.5 3.146 4.854a.5.5 0 11.708-.708l2 2a.5.5 0 010 .708l-2 2a.5.5 0 01-.708-.708z" clip-rule="evenodd"/>
            </svg>
          </a>
        </p>

      </div>
      <div class="card-body collapse" id="collapse{{$name}}">
              <label for="{{$name}}result">Output:</label>
              <select multiple="" class="form-control" id="{{$name}}result" size="25">
                {{range .program.Scans}}
                  {{if eq .Name $name}}
                  {{range .Result.result}}
                <option>{{.}}</option>
                {{end}}
                {{end}}
              {{end}}
              </select>
      </div>
    </div>
  </div>
</div>


<script>
  $('#run{{$name}}').click(function name(params) {
    Swal.fire({
    title: 'Running!',
    timerProgressBar: true,
    onBeforeOpen: () => {
      Swal.showLoading()
    },
  })
    $.ajax({
      url: "/runScan",
      type: "post", //send it through get method
      data: {
        scan: "{{$name}}",
        scope: $('#scope').val(),
        programID : "{{.program.Name}}"
      },
      success: function (response) {
        Swal.fire({
          icon: 'success',
          title: 'Work Completed',
          showConfirmButton: true,
          onClose: () => {
            location.reload();
          }
        })
      },
      error: function (xhr) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Something went wrong!',
        })
      }
    });
  })
</script>

{{end}}